<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div id="top-bar">
      <div id="prev-btn">
        <img
          alt="back"
          src="{{ url_for('static', filename='images/back_btn.svg') }}"
        />
      </div>
      <div id="settings-btn">
        <img
          alt="settings"
          src="{{ url_for('static', filename='images/settings.svg') }}"
        />
      </div>
    </div>

    <div id="view">
      <!-- <div id="audio-feed-large">
        <div class="header">Recently Played</div>
        <div class="song-feed"></div>
      </div> -->

      <!-- <div id="audio-feed-medium">
        <div class="header">Recently Played</div>
        <div class="song-feed">
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
        </div>
      </div>

      <div id="audio-feed-small">
        <div class="header">Recently Played</div>
        <div class="song-feed">
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
          <div class="song" onclick="album_details()"></div>
        </div>
      </div> -->
    </div>

    <div id="audio-player-view">
      <div id="song-cover"></div>
      <div id="song-header">Song Name</div>
    </div>

    <div id="side-bar">
      <div
        class="side-bar-btn"
        id="home-btn"
        onclick="handle_side_bar_btn_click(this)"
      >
        <img
          alt="home"
          src="{{ url_for('static', filename='images/house-chimney.svg') }}"
        />
      </div>

      <div
        class="side-bar-btn"
        id="search-btn"
        onclick="handle_side_bar_btn_click(this)"
      >
        <img
          alt="search"
          src="{{ url_for('static', filename='images/search.svg') }}"
        />
      </div>

      <div
        class="side-bar-btn"
        id="fav-btn"
        onclick="handle_side_bar_btn_click(this)"
      >
        <img
          alt="favroute"
          src="{{ url_for('static', filename='images/heart.svg') }}"
        />
      </div>

      <div
        class="side-bar-btn"
        id="radio-btn"
        onclick="handle_side_bar_btn_click(this)"
      >
        <img
          alt="radio"
          src="{{ url_for('static', filename='images/radio.svg') }}"
        />
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navidrome.js') }}"></script>
  </body>
</html>
